@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("@assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("@/assets/fonts/allura/Allura-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}