//fonts
$main-font: Montserrat;

//colors
$static-white: #fff;
$static-white-20: rgba(255, 255, 255, 0.2);
$static-white-40: rgba(255, 255, 255, 0.4);
$dark: #181C29;
$primary: #FF4646;
$primary-10: rgba(255, 70, 70, 0.1);
$tag-purple: #4361FF;
$content-background: #ECF3F8;
$tag-pink: #FF43F7;
$tag-green: #06A44F;
$overlay: rgba(24, 28, 41, 0.8)