@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Allura";
  src: url("@/assets/fonts/allura/Allura-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
}

#about, #best, #contacts {
  scroll-behavior: smooth;
}

.header-1 {
  font-size: 32px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.header-2 {
  font-size: 24px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.header-3 {
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.header-4 {
  font-size: 12px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 148%;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.action-small, .button-magical-gifts {
  font-size: 12px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.caption {
  font-size: 24px;
  font-weight: 400;
  font-family: Allura;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  font-family: Montserrat;
  text-transform: uppercase;
}

.button-magical-gifts {
  height: 56px;
  width: 256px;
  background-color: #181C29;
  color: #fff;
  border-radius: 20px;
  border: none;
}
.button-magical-gifts:hover {
  background-color: #fff;
  color: #181C29;
  cursor: pointer;
}

.card {
  width: 310px;
  height: 342px;
  background-color: #ECF3F8;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__title {
  color: #FF4646;
}
.card__image {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
}
.card__info {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
  width: 100%;
  height: 112px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.card__category--purple {
  color: #4361FF;
}
.card__category--green {
  color: #06A44F;
}
.card__category--pink {
  color: #FF43F7;
}

.timer {
  width: 330px;
  height: 72px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8px 12px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timer__date, .timer__hour, .timer__minutes, .timer__seconds {
  width: 80px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer__separator {
  width: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  transform: rotate(90deg);
}

.header {
  background-color: #fff;
  height: 64px;
  padding: 0 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
  padding: 8px 20px;
  color: #181C29;
}
.header__logo-image {
  width: 24px;
  height: 24px;
}
.header__nav-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding-inline-start: 0;
}
.header__nav-link {
  padding: 12px 20px;
  color: #181C29;
}
.header__nav-link:hover {
  border-radius: 12px;
  background-color: rgba(255, 70, 70, 0.1);
  color: #FF4646;
}
.header__nav-link--disabled {
  border-radius: 12px;
  background-color: rgba(255, 70, 70, 0.1);
  color: #FF4646;
  pointer-events: none;
}

.hero {
  background-color: #FF4646;
  background-image: url("/src/assets/img/backgrounds/hero-section-ball-and-snow.svg");
  border-radius: 20px 20px 0px 0px;
  height: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__wrapper {
  width: 426px;
  height: 404px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.hero__celebration, .hero__title {
  color: #fff;
}
.hero__title {
  width: 430px;
}

.about {
  height: 648px;
  box-sizing: border-box;
  background-image: url("/src/assets/img/backgrounds/about-section-snow.svg");
  background-color: #FF4646;
  padding: 60px 82px;
}
.about__wrapper {
  width: 1276px;
  height: 528px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.about__info {
  width: 50%;
  padding: 100px 152px 100px 60px;
}
.about__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}
.about__title {
  color: #FF4646;
}
.about__image {
  width: 50%;
  border-radius: 20px;
}

.slider {
  height: 488px;
  box-sizing: border-box;
  padding: 60px 0;
  background-color: #FF4646;
  background-image: url("/src/assets/img/backgrounds/slider-section-snow.svg");
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.slider-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slider-row__carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 82px;
  box-sizing: border-box;
  max-width: 1440px;
  overflow: hidden;
}
.slider-row__carousel-image {
  border-radius: 20px;
}
.slider-row__switchers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 82px;
}
.slider-row__switcher-right, .slider-row__switcher-left {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.slider-row__switcher-right:disabled, .slider-row__switcher-left:disabled {
  border-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
.slider-row__switcher-right:disabled path, .slider-row__switcher-left:disabled path {
  stroke: rgba(255, 255, 255, 0.4);
}
.slider-row__switcher-right:hover:not(:disabled), .slider-row__switcher-left:hover:not(:disabled) {
  cursor: pointer;
  background-color: #fff;
  color: #FF4646;
  stroke: #FF4646;
}
.slider-row__switcher-right:hover:not(:disabled) path, .slider-row__switcher-left:hover:not(:disabled) path {
  stroke: #FF4646;
}
.slider-row__switcher-image {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.best-gifts {
  box-sizing: border-box;
  height: 554px;
  padding: 60px 82px;
  background-color: #FF4646;
  background-image: url("/src/assets/img/backgrounds/best-gifts-section-snow.svg");
}
.best-gifts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.best-gifts__info-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.best-gifts__cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cta {
  height: 668px;
  box-sizing: border-box;
  padding: 120px 507px;
  background-image: url("/src/assets/img/backgrounds/cta-sectoin-snow.svg");
  background-color: #FF4646;
}
.cta__wrapper {
  box-sizing: border-box;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #fff;
}
.cta__timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.footer {
  box-sizing: border-box;
  height: 496px;
  padding: 60px 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #fff;
  color: #181C29;
}
.footer__contacts {
  height: 204px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.footer__contacts-item {
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ECF3F8;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__bottom {
  box-sizing: border-box;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.footer__socials {
  height: 40px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.footer__socials-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__contacts-item:hover {
  color: #FF4646;
  cursor: pointer;
}
.footer__socials-icon {
  width: 24px;
  height: 24px;
}
.footer__socials-icon:hover path {
  stroke: #FF4646;
}
.footer__author:hover {
  color: #FF4646;
}

.gifts {
  position: relative;
  width: 100%;
  height: 1394px;
  box-sizing: border-box;
  padding: 60px 82px;
  border-radius: 20px;
  background-color: #FF4646;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.gifts__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  background-image: url("/src/assets/img/backgrounds/bg-gifts-section.svg");
}
.gifts__title {
  box-sizing: border-box;
  width: 426px;
  height: 144px;
  text-align: center;
}
.gifts__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
}
.gifts__tab-item {
  margin: 0;
  padding: 12px 20px;
  height: 100%;
  border: none;
  border-radius: 12px;
  background: none;
  color: #fff;
}
.gifts__tab-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.gifts__tab-item:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}
.gifts__title {
  color: #fff;
}
.gifts__list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/*# sourceMappingURL=index.css.map */
