.best-gifts {
  box-sizing: border-box;
  height: 554px;
  padding: 60px 82px;
  background-color: $primary;
  background-image: url("/src/assets/img/backgrounds/best-gifts-section-snow.svg");

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info-wrapper {
    color : $static-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}