.cta {
  height: 668px;
  box-sizing: border-box;
  padding: 120px 507px;
  background-image: url("/src/assets/img/backgrounds/cta-sectoin-snow.svg");
  background-color: $primary;

  &__wrapper {
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: $static-white;
  }

  &__timer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
}